// FONTS
@font-face {
    font-family: 'Legendum';
    src: url('../fonts/Legendum.eot');
    src: url('../fonts/Legendum.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Legendum.woff') format('woff'),
    url('../fonts/Legendum.ttf') format('truetype'),
    url('../fonts/Legendum.svg#CreativeBlockBBBold') format('svg');
    font-weight: normal;
    font-style: normal;
}


// VARIABLES
@color-font: #fff;
@color-input: rgba(255,255,255,.7);
@color-bg-controls: rgba(255,255,255,.1);
@color-bg-controls-hover: rgba(255,255,255,.2);
@color-input-bg: #195D98;

// MIXINS
.input-placeholder {
    ::-webkit-input-placeholder {
        color: @color-input;
    }
    ::-moz-placeholder {
        color: @color-input;
    }
    /* Firefox 19+ */
    :-moz-placeholder {
        color: @color-input;
    }
    /* Firefox 18- */
    :-ms-input-placeholder {
        color: @color-input;
    }
}

.fonts() {
    font-family: Legendum, "helvetica neue", Arial, sans-serif;
}


// MAIN
html {
    position: relative;
    height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
}
main {
    color: @color-font;
    text-shadow: 2px 2px 3px black;
    height: 100%;
    .fonts();
    header {
        .homePageTitle {
            padding: 0.3em;
            text-shadow: none;
            color: black;
        }
    }
    .controlBar {
        background-color: @color-input-bg;
        position: relative;
        padding: 0.5em;
        height: 2.5em;
        .loadWeather,
        .stopSetInterval {
            height: 100%;
            display: inline-block;
            vertical-align: middle;
            .formSubmit,
            .stopInterval {
                border: none;
                background-color: @color-bg-controls;
                color: @color-input;
                cursor: pointer;
                height: 100%;
                width: 7em;
            }
            .formSubmit:hover,
            .stopInterval:hover {
                background-color: @color-bg-controls-hover;
            }
        }
        .userData {
            display: inline-block;
            float: right;
            height: 100%;
            .userLat,
            .userLon {
                vertical-align: middle;
                display: inline-block;
                height: 100%;
                .inputLat,
                .inputLon {
                    background-color: @color-bg-controls;
                    border: none;
                    color: @color-input;
                    height: 100%;
                    width: 10em;
                    text-align: center;
                }
                .inputLat:hover,
                .inputLon:hover {
                    background-color: @color-bg-controls-hover;
                }
                .input-placeholder;
            }
        } //        .result {}
    }
    .weatherInfo {
        min-height: 100%;
        overflow: hidden;
        height: 100%;
        position: absolute;
        width: 100%;
        .location {
            .locationName {
                font-size: 1.3em;
                text-align: center;
                padding-top: 2em;
                text-transform: uppercase;
            }
        }
        .tempAndSky {
            text-align: center;
            position: relative;
            height: 80px;
            margin-top: 1em;
            .skyInfo {
                display: inline-block;
                #skyImg {
                    width: 100px;
                    height: 80px;
                }
            }
            .tempInfo {
                display: inline-block;
                position: absolute;
                top: 50%;
                margin-top: -25px;
                margin-left: 0.4em;
                font-size: 2em;
                #temperature {}
            }
        }
        .weatherNameContainer {
            margin-top: 0.5em;
            font-size: 1.1em;
            text-align: center;
            #weatherName {}
        }
        .updateInfo {
            text-align: center;
            margin-top: 1em;
            margin-bottom: 2em;
            text-transform: capitalize;
            #updateMoment {}
        }
        .otherWeatherInfo {
            text-transform: capitalize;
            text-align: center;
            .otherInfoTopPos {
                .cloudsInfo {
                    display: inline-block;
                    margin-right: 3em;
                }
                .windInfo {
                    display: inline-block;
                    margin-right: 3em;
                    #windSpeed {
                        display: inline-block;
                    }
                    #windDeg {
                        display: inline-block;
                        width: 50px;
                        height: 50px;
                    }
                }
                .visibilityInfo {
                    display: inline-block;
                    #visibility {}
                }
            }
            .otherInfoBottomPos {
                .pressureInfo {
                    display: inline-block;
                    margin-right: 3em;
                    #pressure {}
                }
                .sunriseSetInfo {
                    display: inline-block;
                    #sunrise {
                        display: inline-block;
                        margin-right: 3em;
                    }
                    #sunset {
                        display: inline-block;
                    }
                }
            }
        }
    }
}
