// VARIABLES
@color-input: rgba(255, 255, 255, .7);
@color-bg-controls: rgba(255, 255, 255, .1);
@color-bg-controls-hover: rgba(255, 255, 255, .2);
@color-input-bg: #195D98;

// MIXINS
.input-placeholder {
    ::-webkit-input-placeholder {
        color: @color-input;
    }
    ::-moz-placeholder {
        color: @color-input;
    }
    /* Firefox 19+ */
    :-moz-placeholder {
        color: @color-input;
    }
    /* Firefox 18- */
    :-ms-input-placeholder {
        color: @color-input;
    }
}

// Classes
.d01 {
    background-position: 0 0;
}

.d02 {
    background-position: -100px 0;
}

.d03 {
    background-position: -600px -240px;
}

.d04 {
    background-position: -500px -240px;
}

.d09 {
    background-position: -300px -80px;
}

.d10 {
    background-position: -400px 0;
}

.d11 {
    background-position: -600px -240px;
}

.d13 {
    background-position: -400px -160px;
}

.d13 {
    background-position: -600px -160px;
}

.d50 {
    background-position: -600px -160px;
}

.n01 {
    background-position: -200px 0;
}

.n02 {
    background-position: -100px -160px;
}

.n03 {
    background-position: -600px -240px;
}

.n04 {
    background-position: -500px -240px;
}

.n09 {
    background-position: -300px -80px;
}

.n10 {
    background-position: 0 -320px;
}

.n11 {
    background-position: -600px -240px;
}

.n13 {
    background-position: -400px -160px;
}

.n50 {
    background-position: -600px -160px;
}




main {
    header {
        .homePageTitle {
            padding: 0.3em;
        }
    }
    .controlBar {
        background-color: @color-input-bg;
        position: relative;
        padding: 0.5em;
        height: 2.5em;
        .loadWeather,
        .stopSetInterval {
            height: 100%;
            display: inline-block;
            vertical-align: middle;
            .formSubmit,
            .stopInterval {
                border: none;
                background-color: @color-bg-controls;
                color: @color-input;
                cursor: pointer;
                height: 100%;
                width: 7em;
            }
            .formSubmit:hover,
            .stopInterval:hover {
                background-color: @color-bg-controls-hover;
            }
        }
        .userData {
            display: inline-block;
            float: right;
            height: 100%;
            .userLat,
            .userLon {
                vertical-align: middle;
                display: inline-block;
                height: 100%;
                .inputLat,
                .inputLon {
                    background-color: @color-bg-controls;
                    border: none;
                    color: @color-input;
                    height: 100%;
                    width: 10em;
                    text-align: center;
                }
                .inputLat:hover,
                .inputLon:hover {
                    background-color: @color-bg-controls-hover;
                }
                .input-placeholder;
            }
        }
        //        .result {}
    }
    .weatherInfo {
        .location {
            .locationName {
                text-align: center;
                margin-top: 1em;
                text-transform: uppercase;
            }
        }
        .tempAndSky {
            text-align: center;
            position: relative;
            height: 80px;
            .skyInfo {
                display: inline-block;
                #skyImg {
                    width: 100px;
                    height: 80px;
                }
            }
            .tempInfo {
                display: inline-block;
                position: absolute;
                top: 50%;
                margin-top: -9px;
                #temperature {}
            }
        }
        .weatherNameContainer {
            text-align: center;
            #weatherName {}
        }
        .updateInfo {
            text-align: center;
            #updateMoment {
                
            }
        }
    }
}
